In [1]:
import pandas as pd

# # Sampling
# df = pd.read_csv("data/car_sales_data.csv")

# sampled_df = df.sample(n=1000000, random_state=42)

# sampled_df.to_csv("data/car_sales_data_sampled.csv", index=False)

In [3]:
df = pd.read_csv("car_sales_data_sampled.csv")

In [4]:
df.head()

,Date,Salesperson,Customer Name,Car Make,Car Model,Car Year,Sale Price,Commission Rate,Commission Earned
0,6/19/2022,Rebecca Hampton,Joseph Gordon,Ford,Corolla,2013,32650,0.106302,3470.76
1,10/30/2022,Dustin Mcclure,George Young,Nissan,Silverado,2013,25102,0.123075,3089.43
2,10/21/2022,James Byrd,Jason Hampton,Honda,F-150,2014,30682,0.123758,3797.13
3,5/18/2022,Mary Hernandez,Julie Kirby,Chevrolet,Civic,2013,41999,0.082959,3484.21
4,6/23/2022,Paul Coleman,Amanda Brown,Honda,Corolla,2015,36086,0.144156,5202.01