In [1]:
import pandas as pd
import numpy as np

df_sample = pd.read_csv("used_cars.csv", nrows=1000)
print(df_sample.columns)

Index(['id', 'price', 'url', 'region', 'region_url', 'fuel', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'county', 'state', 'lat',
       'long', 'posting_date'],
      dtype='object')

In [2]:
# maybe add geo location later 
# "condition" column - too many null values
use_cols = ["price", "year", "manufacturer", "model", "posting_date", "odometer"]
df = pd.read_csv("used_cars.csv", usecols=use_cols)
df = df.sample(n=100000, random_state=42).reset_index(drop=True)

In [3]:
df.head()

,price,year,manufacturer,model,odometer,posting_date
0,36990,2017,ford,f150 super cab lariat,38094,2021-05-02 19:31:06.000
1,27995,2006,chevrolet,corvette,0,2021-04-29 23:46:35.000
2,78423,2015,chevrolet,corvette,30200,2021-04-17 19:01:33.000
3,14000,2013,bmw,328i,92965,2021-04-26 03:53:42.000
4,676,2019,chevrolet,suburban ls,47105,2021-05-01 17:04:24.000

In [4]:
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         100000 non-null  int64
 1   year          100000 non-null  int64
 2   manufacturer  95866 non-null   object
 3   model         98767 non-null   object
 4   odometer      100000 non-null  int64
 5   posting_date  100000 non-null  object
dtypes: int64(3), object(3)
memory usage: 4.6+ MB
None
              price           year      odometer
count  1.000000e+05  100000.000000  1.000000e+05
mean   1.282717e+05    2006.058080  9.761731e+04
std    1.828167e+07     102.656475  2.218214e+05
min    0.000000e+00       0.000000  0.000000e+00
25%    5.900000e+03    2008.000000  3.621700e+04
50%    1.397700e+04    2013.000000  8.433100e+04
75%    2.650000e+04    2017.000000  1.329210e+05
max    3.736929e+09    2022.000000  1.000000e+07
price              0
year               0
manufacturer    4134
model           1233
odometer           0
posting_date       0
dtype: int64

In [5]:
df = df.dropna(subset=["manufacturer", "model"])

df = df[
    (df["price"] > 100) & (df["price"] < 250000) &
    (df["year"] >= 1985) & (df["year"] <= 2022) &
    (df["odometer"] > 0) & (df["odometer"] < 500000)
]

df["posting_date"] = pd.to_datetime(df["posting_date"], errors="coerce")

In [6]:
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 84405 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         84405 non-null  int64
 1   year          84405 non-null  int64
 2   manufacturer  84405 non-null  object
 3   model         84405 non-null  object
 4   odometer      84405 non-null  int64
 5   posting_date  84405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 4.5+ MB
None
               price          year       odometer  \
count   84405.000000  84405.000000   84405.000000
mean    19048.463337   2012.310669   92930.171080
min       101.000000   1985.000000       1.000000
25%      7500.000000   2009.000000   38872.000000
50%     15900.000000   2014.000000   87795.000000
75%     27985.000000   2017.000000  135417.000000
max    239900.000000   2022.000000  487389.000000
std     14675.831306      6.005585   63088.485376

                        posting_date
count                          84405
mean   2021-04-24 00:15:48.417475328
min              2021-04-04 07:00:25
25%              2021-04-17 03:01:54
50%              2021-04-26 06:06:14
75%              2021-05-01 13:42:11
max              2021-05-05 03:56:25
std                              NaN
price           0
year            0
manufacturer    0
model           0
odometer        0
posting_date    0
dtype: int64

In [7]:
df["year_posted"] = df["posting_date"].dt.year
df["month_posted"] = df["posting_date"].dt.month
df["year_month_posted"] = df["posting_date"].dt.to_period("M")
df["weekday"] = df["posting_date"].dt.day_name()

def get_season(month):
    if month in [3, 4, 5]:
        return "Spring"
    elif month in [6, 7, 8]:
        return "Summer"
    elif month in [9, 10, 11]:
        return "Fall"
    else:
        return "Winter"

df["season"] = df["month_posted"].apply(get_season)
df = df.drop(columns=["posting_date"])

df.head()

,price,year,manufacturer,model,odometer,year_posted,month_posted,year_month_posted,weekday,season
0,36990,2017,ford,f150 super cab lariat,38094,2021,5,2021-05,Sunday,Spring
2,78423,2015,chevrolet,corvette,30200,2021,4,2021-04,Saturday,Spring
3,14000,2013,bmw,328i,92965,2021,4,2021-04,Monday,Spring
4,676,2019,chevrolet,suburban ls,47105,2021,5,2021-05,Saturday,Spring
5,2744,2002,chrysler,town country,229031,2021,4,2021-04,Tuesday,Spring

In [8]:
df["manufacturer"].value_counts()

manufacturer
ford               14504
chevrolet          11010
toyota              7177
honda               4536
nissan              3947
jeep                3857
ram                 3624
gmc                 3534
bmw                 3161
dodge               2706
mercedes-benz       2289
hyundai             2173
subaru              2080
volkswagen          1950
lexus               1825
kia                 1643
audi                1636
cadillac            1454
acura               1340
chrysler            1274
buick               1171
mazda               1145
infiniti            1030
lincoln              891
mitsubishi           709
volvo                671
mini                 519
pontiac              440
jaguar               392
rover                375
porsche              260
mercury              243
saturn               241
alfa-romeo           196
tesla                193
fiat                 161
harley-davidson       27
ferrari               14
land rover             4
aston-martin           3
Name: count, dtype: int64

In [9]:
print(f"Unique model count: {df['model'].nunique()}")

Unique model count: 10589

In [10]:
df["model"].value_counts()

model
f-150                                       1650
silverado 1500                               997
1500                                         872
accord                                       654
camry                                        630
                                            ...
yukon 1500 slt 4x4 half ton                    1
caravan se 64k miles wheelchair lift ada       1
s430 matic                                     1
5 series 530i                                  1
mkc premiere                                   1
Name: count, Length: 10589, dtype: int64

In [11]:
(df["model"].value_counts() == 1).sum()

5287

In [12]:
df.shape[0]

84405

In [13]:
# Count how many times each cleaned model appears
model_counts = df["model"].str.lower().str.strip().value_counts()

# Get models that appear only once
rare_models = model_counts[model_counts == 1].index

# Remove rows with rare models (those that appear only once)
df = df[~df["model"].str.lower().str.strip().isin(rare_models)]
df = df.reset_index(drop=True)

In [14]:
print(f"Remaining row count: {df.shape[0]}") # 84405 - 5287 = 79118
print((df["model"].str.lower().str.strip().value_counts() == 1).sum())

Remaining row count: 79118
0

In [15]:
df.head()

,price,year,manufacturer,model,odometer,year_posted,month_posted,year_month_posted,weekday,season
0,36990,2017,ford,f150 super cab lariat,38094,2021,5,2021-05,Sunday,Spring
1,78423,2015,chevrolet,corvette,30200,2021,4,2021-04,Saturday,Spring
2,14000,2013,bmw,328i,92965,2021,4,2021-04,Monday,Spring
3,676,2019,chevrolet,suburban ls,47105,2021,5,2021-05,Saturday,Spring
4,2744,2002,chrysler,town country,229031,2021,4,2021-04,Tuesday,Spring